<link rel="import" href="/vendor/polymer/polymer.html">

<dom-module id="cuac-contact-view">
    <template>
        <template is="dom-if" if="{{_isEqualTo(contact.phone,'')}}"> 
            <div>
                <label>Phone number:</label>
                <template is="dom-repeat" items="{{contact.phone}}">
                    <div>{{item}}</div>
                </template>
            </div>
        </template>
        <template is="dom-if" if="{{_isEqualTo(contact.email,'')}}"> 
            <div>
                <label>Email:</label>
                <template is="dom-repeat" items="{{contact.email}}">
                    <div>{{item}}</div>
                </template>
            </div>
        </template>
        <template is="dom-if" if="{{_isEqualTo(contact.web,'')}}"> 
            <div>
                <label>Website:</label>
                <template is="dom-repeat" items="{{contact.web}}">
                    <div>{{item}}</div>
                </template>
            </div>
        </template>
    </template>

    <script>
        Polymer({
            is: 'cuac-contact-view',

            properties: {
                contact: {type: Object}
            },

            _isEqualTo: function(title,string) {
                return title != string;
            }

        });
    </script>
</dom-module>
