<link rel="import" href="/vendor/polymer/polymer.html">

<dom-module id="cuac-museum-view">
    <template>
        <style>
            .panel.show {
                display: 'block';
            }
            .panel.hide {
                display: 'none';
            }
        </style>
        <div class$="view {{visibility}}">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Info</div>
                    <div class="panel-body">
                        <cuac-info-view info="{{museumData.info}}"></cuac-info-view>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Contact</div>
                    <div class="panel-body">
                        <cuac-contact-view contact="{{museumData.contact}}"></cuac-contact-view>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Schedule</div>
                    <div class="panel-body">
                        <cuac-schedule-view schedule="{{museumData.schedule}}"></cuac-schedule-view>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Location</div>
                    <div class="panel-body">
                        <cuac-location-view location="{{museumData.location}}"></cuac-location-view>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Price</div>
                    <div class="panel-body">
                        <cuac-price-view price="{{museumData.price}}"></cuac-price-view>
                    </div>
                </div>
            </div>

            <cuac-edit-button></cuac-edit-button>
        </div>
    </template>

    <script>
        Polymer({
            is: 'cuac-museum-view',

            properties: {
                visibility: {type: String, value: 'hide'},
                museumData: {type: Object}
            }
        });
    </script>
</dom-module>
