<link rel="import" href="/vendor/polymer/polymer.html">

<dom-module id="cuac-info-view">
    <template>
        <div>
            <label>Name:</label>
            <span>{{info.name}}</span>
        </div>
        <template is="dom-if" if="{{_isEqualTo(info.description,'')}}"> 
            <div>
                <label>Extra text:</label>
                <span>{{info.description}}</span>
            </div>
        </template>
    </template>

    <script>
        Polymer({
            is: 'cuac-info-view',

            properties: {
                info: {type: Object}
            },

            _isEqualTo: function(title,string) {
                return title != string;
            }

        });
    </script>
</dom-module>
