<link rel="import" href="/vendor/polymer/polymer.html">

<dom-module id="cuac-info-view">
    <template>
        <div>
            <label>Name:</label>
            <span>{{info.name}}</span>
        </div>
        <div>
            <label>Extra text:</label>
            <span>{{info.description}}</span>
        </div>
    </template>

    <script>
        Polymer({
            is: 'cuac-info-view',

            properties: {
                info: {type: Object}
            }
        });
    </script>
</dom-module>
