<link rel="import" href="/vendor/polymer/polymer.html">

<dom-module id="cuac-schedule-view">
    <template>
        <template is="dom-repeat" items="{{renderedSchedule}}">
            <div>
                <label>{{item.day}}</label>
                <template is="dom-repeat" items="{{item.hours}}" as="hours">
                <span> {{hours}} </span>
                </template>
            </div>
        </template>
    </template>
    <script>
        Polymer({
            is: 'cuac-schedule-view',

            properties: {
                schedule: {type: Object, observer: 'renderSchedule'},

                renderedSchedule: {type: Array}
            },

            renderSchedule: function() {
                initialSchedule = [];
                for (var day in this.schedule) {
                    if (this.schedule[day].length > 0) {
                        var object = {};
                        object.day = day;
                        object.hours = this.schedule[day];
                        initialSchedule.push(object);
                    }
                }
                this.renderedSchedule = initialSchedule;
            }

        });
    </script>
</dom-module>
